:root {
  --background-color: lightgray;
}

html,
body,
#__nuxt {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  background-color: var(--background-color);
}

.header,
.footer {
  min-height: 40px;
  padding: 10px;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgba($color: var(--background-color), $alpha: 0.95);
}

.content {
  flex: 1;
  padding: 10px;
}
