@use './variables.scss';
@use './typography.scss';
@use './helper.scss';

* {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

html,
body,
#__nuxt {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
