@use './variables.scss';
@use './typography.scss';
@use './helper.scss';

* {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

html,
body,
#__nuxt {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button-no-border {
  border: none;
  text-transform: uppercase;
  padding: 4px;
  color: var(--secondary-text-color);
}

.button-no-border:hover {
  cursor: pointer;
  font-weight: bold;
}

.button-no-border-active {
  font-weight: bolder;
}
