.content-start {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 16px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.content-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
