:root {
  --primary-background-color: rgb(190, 190, 190);
  --primary-text-color: black;
  --secondary-text-color: rgb(103, 103, 103);
  --accent-color: yellow;
  --default-font-size: 16px;
  --medium-font-size: 20px;
  --large-font-size: 22px;
  --largest-font-size: 24px;
  --jumbo-font-size: 34px;
}
